<section class="mainbar" data-ng-controller="speakers as vm">
	<section class="matter">
		<div class="container-fluid">
			<!-- search / filter input row -->
			<div class="row-fluid">
				<div class="form-search">
					<input type="text" class="input-medium search-query" placeholder="search"
					       data-ng-model="vm.speakerSearch"
					       data-ng-keyup="vm.search($event)">
					<div class="btn-group pull-right">
						<a href="" class="btn btn-info" data-ng-click="vm.refresh()">
							<i class="icon-refresh"></i> Refresh
						</a>
					</div>
				</div>
			</div>
			<!-- list of speakers row -->
			<div class="row-fluid">
				<!-- widget start: -->
				<div class="widget wlightblue">
					<!-- widget header: -->
					<div data-cc-widget-header title="{{'Group1: '+vm.title}}"
					     subtitle="{{ vm.filteredSpeakers.length }} / {{vm.speakers.length}}"></div>
					<!-- widget body: -->
					<div class="widget-content user">
						<!-- ng-repeat begins here: -->
						<div class="padd list-flow"
						     data-ng-repeat=" s in vm.filteredSpeakers ">
							<div class="user">
								<img data-cc-img-person="{{ s.imageSource }}"
								     class="img-polaroid stacked">
								<div class="name-stack">
									<h5>{{ s.firstName }}</h5>
									<h5>{{ s.lastName }}</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="widget-foot">
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			
			<!--------------------------------------------------------------------------------->
			<br><hr><br>
			<!-- 2nd way to search / filter input row -->
			<div class="row-fluid">
				<div class="form-search">
					<input type="text" class="input-medium search-query" placeholder="search"
					       data-ng-model="vm.speakerInput">
					<div class="btn-group pull-right">
						<a href="" class="btn btn-info" data-ng-click="vm.refresh()">
							<i class="icon-refresh"></i> Refresh
						</a>
					</div>
				</div>
			</div>
			<!-- list of speakers row -->
			<div class="row-fluid">
				<!-- widget start: -->
				<div class="widget wblue">
					<!-- widget header: -->
					<div data-cc-widget-header title="{{'Group2: '+vm.title}}"
					     subtitle="{{vm.speakers.length}}"></div>
					<!-- widget body: -->
					<div class="widget-content user">
						<!-- ng-repeat begins here: -->
						<div class="padd list-flow"
						     data-ng-repeat=" s in vm.speakers | filter:vm.speakerInput ">
							<div class="user">
								<img data-cc-img-person="{{ s.imageSource }}"
								     class="img-polaroid stacked">
								<div class="name-stack">
									<h5>{{ s.firstName }}</h5>
									<h5>{{ s.lastName }}</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="widget-foot">
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>