<!-- Fixed navbar
<nav id="mainMenu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="Images/WilliamsLogo.png" width="262" height="26" alt=""/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-right:15px;">
                    <select class="yearDrop">
                        <option>1997-1998</option>
                        <option>1999-2000</option>
                        <option>2001-2002</option>
                    </select>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome joshm<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-cog" aria-hidden="true"></i>Settings
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>Log Off
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->

<div class="container mainContainer" style="clear:both;">
    <div class="col-xs-12" id="logInBG">
        <div class="row">
            <div id="logIn" class="col-xs-6 col-xs-offset-3" style="margin-top:70px;">
                <!-- form begins here: -->
                <form class="form-inline" style="padding-bottom:10px;">
                    <div class="col-xs-6">
                        <div class="row">
                            <label class="whiteText" for="exampleInputName2">Name</label><br>
                            <input type="email" class="form-control" style="width:95%;margin-right:7px;"
                                   id="exampleInputName2" placeholder="jane.doe@example.com"
                                   ng-model="coreCtrl.userData.email">
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="row">
                            <label class="whiteText" for="exampleInputEmail2">Email</label><br>
                            <input type="password" class="form-control" style="margin-left:7px;width:95%;"
                                   id="exampleInputEmail2" placeholder="password"
                                   ng-model="coreCtrl.userData.password">
                        </div>
                    </div>
                </form>

                <!-- the "Login In" button -->
                <div class="col-xs-12" style="margin-top:15px;">
                    <div class="row">
                        <button ng-click="coreCtrl.ccLoginFn()" type="submit" class="btn  btn-orange"
                                style="width:100%;">Log In
                        </button>
                        <!-- // register button: -->
                        <p class="text-center"><strong>or</strong></p>
                        <button ng-click="coreCtrl.ccRegisterFn()" type="submit" class="btn  btn-orange"
                                style="width:100%;">Register
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="padding-top:15px;">
        <div class="row">
            <h2 ng-if="coreCtrl.loginError">{{ coreCtrl.loginError }}</h2>
            <p>
                Please enter your username and password. If you don't have a username and password, please contact your
                school district's Williams Coordinator.
            </p>
            <p>
                <small>8th attempt at auth ~JuliusA, 2-15-17@8:50am</small>
            </p>
        </div>
    </div>
</div>

